footer.app-footer {
  padding: 64px 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: hsl(var(--card));
  }

  li {
    margin-top: 4px;
  }

  a {
    color: hsl(var(--muted-foreground));
    text-decoration: none;
    &:hover {
      color: hsl(var(--foreground));
      text-decoration: underline;
    }
  }

  .newsletter-actions-container {
    display: flex;
    background-color: hsl(var(--background));
    border-radius: calc(var(--radius) - 2px);
    max-width: 400px;

    .newsletter-input {
      ::placeholder {
        color: hsl(var(--foreground-muted));
      }
      &:focus {
        outline: 2px solid hsl(var(--foreground));
      }
      color: hsl(var(--foreground));
      border: 0;
      box-shadow: none;
    }

    .newsletter-button {
      color: hsl(var(--foreground));
      box-shadow: none;
      background-color: transparent;
      &:focus,
      &:active {
        outline: 2px solid hsl(var(--foreground));
      }
    }
  }
}
