footer {
  padding: 64px 0;

  :not(input)::-moz-selection {
    background-color: hsl(var(--primary-foreground));
    color: hsl(var(--primary));
  }

  :not(input)::selection {
    background-color: hsl(var(--primary-foreground));
    color: hsl(var(--primary));
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: hsl(var(--card));
  }

  li {
    margin-top: 4px;
  }

  a {
    color: hsl(var(--background));
    opacity: 0.8;
    text-decoration: none;
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }

  .newsletter-actions-container {
    display: flex;
    background-color: hsl(var(--background));
    border-radius: calc(var(--radius) - 2px);
    max-width: 400px;

    .newsletter-input {
      ::placeholder {
        color: hsl(var(--foreground-muted));
      }
      &:focus {
        outline: 2px solid hsl(var(--foreground));
      }
      color: hsl(var(--foreground));
      border: 0;
      box-shadow: none;
    }

    .newsletter-button {
      color: hsl(var(--foreground));
      box-shadow: none;
      background-color: transparent;
      &:focus,
      &:active {
        outline: 2px solid hsl(var(--foreground));
      }
    }
  }

  .footer-end {
    width: 100%;
    display: flex;
    margin-top: 32px;
  }
}
