.feature-avatar {
  width: 96px;
  height: 96px;
  color: hsl(var(--card));
  background-color: hsl(var(--primary));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;

  svg {
    width: 48px;
    height: 48px;
  }
}
