nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsl(var(--background));
  padding: 16px;

  .nav-content {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
  }
}
