.feature-section {
  text-align: left;

  .feature-flavor {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: hsl(var(--primary));
  }

  .feature-card-title {
    line-height: 150%;
    font-size: 1.5rem;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .feature-card-flavor {
    text-transform: uppercase;
    color: hsl(var(--primary));
  }

  .feature-card-content {
    color: hsl(var(--muted-foreground));
  }
}
