footer {
  padding: 64px 0;

  li {
    margin-top: 4px;
  }

  a {
    color: hsl(var(--background));
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .newsletter-actions-container {
    display: flex;
    background-color: hsl(var(--background));
    border-radius: calc(var(--radius) - 2px);
    max-width: 400px;

    .newsletter-input {
      ::placeholder {
        color: hsl(var(--foreground-muted));
      }
      &:focus {
        outline: 2px solid hsl(var(--foreground));
      }
      color: hsl(var(--foreground));
      border: 0;
      box-shadow: none;
    }

    .newsletter-button {
      color: hsl(var(--foreground));
      box-shadow: none;
      background-color: transparent;
      &:focus,
      &:active {
        outline: 2px solid hsl(var(--foreground));
      }
    }
  }

  .footer-end {
    width: 100%;
    display: flex;
    margin-top: 32px;
  }
}
